@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Merriweather", serif;
  font-weight: 900;

  &__right {
    display: flex;
    align-items: center;
  }

  &__right a {
    margin-right: 10px;
    font-family: 'Poppins', system-ui;
    font-weight: 400;
  }
}

a {
  text-decoration: none;
  color: #000;
}