canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

$headerHeight: 40px;

.header {
  height: $headerHeight;
}

$footerHeight: 50px;
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(100vh - $headerHeight - $footerHeight) $footerHeight;
  grid-template-areas:
    "info-l model info-r"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc((100vh - $headerHeight - $footerHeight) / 2) calc((100vh - $headerHeight - $footerHeight) / 2) $footerHeight;
    grid-template-areas:
    "model info-l"
    "model info-r"
    "footer footer"
  }
}

@media (max-width: 740px) {
  .grid {
    grid-template-columns: 100vw;
    grid-template-rows: 400px $footerHeight auto auto;
    grid-template-areas:
    "model"
    "footer"
    "info-l"
    "info-r";
  }
}

.info-left {
  grid-area: info-l;
}

.info-right {
  grid-area: info-r;
}

.model {
  grid-area: model;
}

.footer {
  grid-area: footer;
  height: $footerHeight;
}
