* {
  margin: 0;
  box-sizing: border-box;
}

canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

$headerHeight: 40px;

.header {
  height: $headerHeight;
}

$footerHeight: 75px;
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(100vh - $headerHeight - $footerHeight) $footerHeight;
  grid-template-areas:
    "info-l model info-r"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc((100vh - $headerHeight - $footerHeight) / 2) calc(
        (100vh - $headerHeight - $footerHeight) / 2
      ) $footerHeight;
    grid-template-areas:
      "model info-l"
      "model info-r"
      "footer footer";
  }
}

@media (max-width: 740px) {
  .grid {
    grid-template-columns: 100vw;
    grid-template-rows: 400px $footerHeight auto auto;
    grid-template-areas:
      "model"
      "footer"
      "info-l"
      "info-r";
  }
}

.info-left {
  grid-area: info-l;
}

.info-right {
  grid-area: info-r;
}

.model {
  grid-area: model;
}

.footer {
  grid-area: footer;
  height: $footerHeight;
  // background-color: #f2f2f2;
  padding-top: 5px;
}
.space-bw {
  display: flex;
  justify-content: space-between;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*==========  btn-structure  ==========*/
.btn-push {
  position: relative;
  top: 0px;
  font-family: "Poppins", system-ui;
  text-decoration: none;
  font-size: 24px;
  background: #f7f7f7;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  // text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  btn-active  ==========*/
.btn-push:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  Green  ==========*/
.btn-push.green {
  background: #7cc576;
  color: #fff;
  border: 1px solid #46963f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #46963f;
  -moz-box-shadow: 0px 5px 0px #46963f;
  -ms-box-shadow: 0px 5px 0px #46963f;
  -o-box-shadow: 0px 5px 0px #46963f;
  box-shadow: 0px 5px 0px #46963f;
  // text-shadow: 1px 1px 1px #46963f;
}
